.AgreeAboveCheck {
    position: relative;

    width: 1300px;
    height: 228px;
}

.AgreeAboveWord {
    position: absolute;

    top: 472px;
    left: 577px;

    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    color: #000000;
}

.GoWriteApplyButton {
    position: absolute;

    top: 538px;
    left: 436px;
}

.Button{
    position: absolute;

    width: 20px;
    height: 20px;

    top: 473px;
    left: 543px;

    border: none;
}

.checked{
    background: url('../Components/img/checkedButton.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.unChecked{
    background: url('../Components/img/unCheckedButton.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}