.CoverLetter {
    position: relative;

    top: 152px;

    width: 1300px;
}

.CoverLetterBox {
    position: relative;
    margin-bottom: 95px;
}

.ApplicationLine {
    width: 1300px;
    height: 0px;

    border: 1px solid #000000;
}

.CoverLetterTitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    color: #000000;
}

.CoverLetterContent {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    color: #000000;
}

.mainTitle {
    padding-bottom: 25px;
}

.mainContent {
    padding-top: 25px;
}

.lowerTitle {
    padding-bottom: 15px;
}

.lowerContent {
    padding-bottom: 25px;
}

.star {
    width: 13px;
    height: 13px;
    
    margin: 3px;
}