.black{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 75px;
    flex-direction: column;
    position: relative;
    font-family: 'IBMPlexSans-Regular';
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans-Regular';
    src: url('../../../assets/fonts/IBMPlexSans-Regular.ttf');
}

.pass_resultbox{
    position: relative;
    width: 1300px;
    height: 207px;

}

.pass_resultlen{
    position: absolute;
    top: 88px;

    font-weight: 700;
    font-size: 24px;
    line-height: 31px;

    color: #000000;
}

.pass_line{
    position: relative;
    width: 1300px;
    height: 0px;
    border: 1px solid #000000;
}

.pass_resultbox2{
    position: relative;
    width: 1300px;
    height: 414px;

}

.pass_resultlen2{
    position: relative;
    top: 88px;
    font-size: 24px;
    text-align: center;

    font-weight: 700;
    line-height: 150%;
    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;

}

.pass_resultlen3{
    position: relative;
    top: 174px;
    font-size: 20px;
    text-align: center;

    font-weight: 400;
    line-height: 150%;
    color: #000000;

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;

}
