.WriteApplicationStyle {
    position: relative;

    width: 1300px;
    height: 207px;

    align-items: center;
}

.WriteApplicationWordStyle {
    position: absolute;

    top: 88px;

    font-weight: 700;
    font-size: 24px;
    line-height: 31px;

    color: #000000;
}

.StepStyle {
    display: flex;
    flex-direction: row;
}

.StepButton {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 433.33px;
    height: 48px;

    border-bottom: solid 1px #000000;
}

.Selected {
    background: #000000;
    color: #ffffff;
}

.UnSelected {
    background: #ffffff;
    color: #000000;
}

.GoWriteApply {
    position: absolute;

    width: 429px;
    height: 52px;

    background: #000000;
    border-radius: 10px;

    font-weight: 700;
    font-size: 18px;
    
    color: #ffffff;
}