/*상단 소개 검은색 배너*/

.introducebanner{
    float:none; 
    margin:0 auto;
    position: absolute;
    width: 1920px;
    height: 173px;
    left: 0%;
    right: 0%;
    top: 75px;
    background: #000000;
}

#introduceletter{
    position: absolute;
    width: 45px;
    height: 31px;
    margin-left: 310px;
    top: 71px;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}


/*Introduce.js에서 사용하는 기본 폰트*/
@font-face {
    font-family: 'IBMPlexSans-Regular';
    src: url('../../../src/fonts/IBMPlexSans-Regular.ttf');
}