.mform{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 88px 0px;
    gap: 50px;
    width: 1300px;
    height: 561px;
    left: 310px;
    top: 0px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
}

.process{
    position: absolute;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    top: 176px;
    left: 0px;
    color: #000000;
}

.linem{
    position: absolute;
    width: 1300px;
    height: 0px;
    top: 257px;  
    border: 0.3px solid #000000;
}

.banner_content{
    position: absolute;
    top: 307px;
    justify-content: space-evenly;
    align-items: center;
}

.right{
    object-fit: contain;
    height: 26px;
}

.document_circle {
    background-color: rgba(85, 169, 190, 1);
    width: 235px;
    height: 235px;
    border: 5px solid white;
    outline: 5px solid rgba(85, 169, 190, 0.85);
    border-radius: 50%;
    display: flex;
}

.interview_circle {
    background-color: rgba(85, 169, 190, 0.85);
    width: 235px;
    height: 235px;
    /* border: 5px solid black;
    outline: 5px solid rgba(85, 169, 190, 0.85); */
    border-radius: 50%;
    display: flex; 
}

.join_circle{
    background-color: rgba(85, 169, 190, 0.7);
    width: 235px;
    height: 235px;
    /* border: 5px solid black;
    outline: 5px solid rgba(85, 169, 190, 0.85); */
    border-radius: 50%;
    display: flex;
}

.circle_content{
    display: flex;
    color : white;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

.process_text{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
}

.date_text{
    padding-top: 10px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.ApplyButton{
    position: absolute;
    width: 429px;
    height: 52px;
    left: 747px;
    top: 1949px;
    background: #000000;
    border-radius: 10px;
}

.applyLetter{
    position: absolute;
    left: 185px;
    top: 14px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.justCenter{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}