.base{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'IBMPlexSans-Regular';
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans-Regular';
    src: url('../../../assets/fonts/IBMPlexSans-Regular.ttf');
}