.InterviewTime {
    position: relative;

    top: 152px;

    width: 1300px;
    height: 1355px;

    background: gray;
}

.InterviewBox {
    position: relative;
    margin-bottom: 95px;
}

.InterviewLine {
    width: 1300px;
    height: 0px;

    border: 1px solid #000000;
}

.InterviewTitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    color: #000000;
}

.InterviewContent {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    color: #000000;
}

.InterviewSecondTitle {
    margin-bottom: 25px;
}

.InterviewSecondContent{
    margin-bottom: 50px;
}

.requirement {
    width: 650px;

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000000;
}