@font-face {
    font-family: 'IBMPlexSans-Regular';
    src: url('../../fonts/IBMPlexSans-Regular.ttf');
}

.ApplyStyle {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 75px;

    font-family: 'IBMPlexSans-Regular';
    font-style: normal;
}